/*External CSS*/

/*font-family: 'Open Sans', sans-serif;
font-family: 'Zilla Slab', serif;*/

html {
  scroll-behavior: smooth;
}


body {
	font-family: 'Zilla Slab', serif;
}



#mynav a:hover{
	background-color: white;
	color: Black;
}

/* Gray Scale */
.hovergray figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hovergray figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

.opensans {
	font-family: 'Open Sans', sans-serif;
}
.plarge {
	font-size: 3rem;
	font-family: Calibri;
	text-align: center;

}

.plarge2 {
	font-size: 3rem;
	font-family: Elephant;
	text-align: left;
	border-bottom: 2px solid #463f3a;


}

.plargel {
	font-size: 3rem;
	font-family: Century Gothic;

}

.plargen {
	margin-left: 20% ;

}

.miniback {
	background-color: bcb8b1;
}

ul {
	list-style: none;
}


.ulstyle {
	list-style: square;
}

#lir {
	float: right;
}

#lil {
	float: left;
}

.footerfont

{
	font-size: 1.3rem;
	font-family: Century Gothic;
	text-align: center;
	background-color: #0a0908;
}

.icon {
	width: 30px;
	height: 30px; 
	border-radius: 50%;
	vertical-align: middle;
}

span {
	font-size: 15px;
	padding: auto;

}
